*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

nav ul li a:hover{
    color: #ff484b;
    transition: 0.5s;
    font-style:oblique;
}

.menu{
    width: 50px;
    cursor: pointer;
    display: none;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 60px;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 100%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #818181;
    font-weight: 100;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .web{
    width: 90%;
}

.color-box2{
    position: absolute;
    right: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 130%;
    width: 70%;
    z-index: -1;
    transform: translateX(150px);
}

.color-box3 .ig{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.color-box3 .gmail{
    height: 30px;
    margin: 16px;
    cursor: pointer;

}

.color-box3 .link{
    height: 27px;
    margin: 16px;
    cursor: pointer;
}


.color-box3{
    position: absolute;
    right: 0;
    background: linear-gradient( #ff575a, #ff54a2 );
    border-radius: 20px 0 0 20px;
    height: 12%;
    width: 57%;
    transform: translateX(0px);
}


@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #fdf2f2);
        border-radius: 100px 0 0 0;
        position: absolute;
        top: 75px;
        z-index: 2;
        opacity: 0.6;
        left: 0px;
    }

    nav ul li{
        display: inline-block;
        margin-top: 25px;
        margin-right: 20px;
    }

    nav ul li a{
        color: #000000;
        font-size: 15px;
    }

    .menu{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px ;
    }

    .col-2 .web{
        width: 77%;
    }

    .color-box2{
        transform: translateX(75px);
    }

    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
}